[submodule "xslt20-stylesheets"]
	path = xslt20-stylesheets
	url = https://github.com/docbook/xslt20-stylesheets.git
[submodule "asciidoctor-fopub"]
	path = asciidoctor-fopub
	url = https://github.com/asciidoctor/asciidoctor-fopub.git
[submodule "xslt20-resources"]
	path = xslt20-resources
	url = https://github.com/docbook/xslt20-resources
[submodule "xslt20-java"]
	path = xslt20-java
	url = https://github.com/docbook/xslt20-java.git
	branch = saxon95
[submodule "asciidoctor.org"]
	path = asciidoctor.org
	url = https://github.com/asciidoctor/asciidoctor.org.git
[submodule "jing-trang"]
	path = jing-trang
	url = https://github.com/relaxng/jing-trang.git
