# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# java
*.class
*.jar
*.hprof

# gradle
!/gradle/wrapper/gradle-wrapper.jar

# misc
node_modules/
/scripts/env.sh
/examples/
/schema/
/tmp/
/out/
/lib/
/downloads/
!/lib/.keep
/myModules.d.ts
*.log
*.out
*.pdf
*.fo
*.fo.xml
splitjars/lib/
*.db.html
*.db.xhtml
*.db.xml
/*.xhtml
/*.html
/*.html5
/*.txt
/*.sch
/catalog.xml
/db-toolchain-*/

# idea
.idea/workspace.xml
.idea/xtextAutoBuilderState.xml
.idea/dbnavigator.xml
.idea/markdown-doclet.xml
.idea/uiDesigner.xml
.idea/libraries/
.idea/codestream.xml
.idea/sonarlint/
*.iml
