# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# java
*.class
*.jar
*.hprof

# gradle
/gradle/
gradlew
gradlew.bat

# misc
/examples/
/schema/
/tmp/
/out/
/lib/
!/lib/.keep
*.log
*.out
*.pdf
*.fo
*.fo.xml

# idea
.idea/workspace.xml
.idea/xtextAutoBuilderState.xml
.idea/dbnavigator.xml
.idea/markdown-doclet.xml
.idea/uiDesigner.xml
*.iml
