[submodule "xslt20-stylesheets"]
	# url = https://github.com/docbook/xslt20-stylesheets.git
	url = git@github.com:aanno/xslt20-stylesheets.git
	path = submodules/xslt20-stylesheets
	# branch = master
	branch = feature/pr-gradle-6.x
[submodule "asciidoctor-fopub"]
	path = submodules/asciidoctor-fopub
	url = https://github.com/asciidoctor/asciidoctor-fopub.git
[submodule "xslt20-resources"]
	path = submodules/xslt20-resources
	url = https://github.com/docbook/xslt20-resources
[submodule "xslt20-java"]
	path = submodules/xslt20-java
	url = https://github.com/docbook/xslt20-java.git
	branch = saxon95
[submodule "asciidoctor.org"]
	path = submodules/asciidoctor.org
	url = https://github.com/asciidoctor/asciidoctor.org.git
[submodule "jing-trang"]
	path = submodules/jing-trang
	url = git@github.com:aanno/jing-trang.git
	branch = feature/tp-saxon
[submodule "submodules/asciidoctorj"]
	path = submodules/asciidoctorj
	url = git@github.com:asciidoctor/asciidoctorj.git
[submodule "submodules/ph-commons"]
	path = submodules/ph-commons
	url = git@github.com:phax/ph-commons.git
[submodule "submodules/ph-schematron"]
	path = submodules/ph-schematron
	url = git@github.com:phax/ph-schematron.git
